on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name parameter'
        required: false
        default: 'hello'
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
    #- name: Setup upterm session
    #  uses: lhotari/action-upterm@v1
    #  with:
    #    limit-access-to-actor: true
    - name: Build With GCC
      run: |
        echo $CC $CXX $BAZEL_OPTS
    - name: Echo Name
      run: |
        echo "${{ github.event.inputs.name }}"
